@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #0a0a0a;
    color: #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #32cd32;
    border-radius: 10px;
}
